{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 12, "knowledge_revision": 26, "git_revision": "3dc9e4865caeb2cf728ca6775e706dfd68c124b9", "filename": "/home/kavia/workspace/code-generation/eventease-22648-c4a6b9ee/eventease_backend/requirements.txt", "hash": "170f2d3dbc4d058f73a430e7a17a19f0", "format-version": 4, "code-base-name": "default", "revision_history": [{"26": "3dc9e4865caeb2cf728ca6775e706dfd68c124b9"}]}